[Unit]
Description=SCOD Daemon
After=dbus.target

[Service]
Type=dbus
ExecStart=/usr/bin/scodd
BusName=ru.russianfedora.SCOD

[Install]
WantedBy=multi-user.target
